[submodule "subprojects/orpheus-vlg"]
	path = subprojects/orpheus-vlg
	url = https://github.com/fpgaudio/orpheus-vlg.git
[submodule "subprojects/midas"]
	path = subprojects/midas
	url = https://github.com/fpgaudio/midas.git
